<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <h4>Assigment start</h4>
      <hr>
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label>e-Mail</label>
          <input
            class="form-control"
            email
            required
            ngModel
            name="email"
            #email = "ngModel"
          >
        </div>
        <span *ngIf="!email.valid && email.touched">
          eMail is not valid
        </span>
        <div class="form-group">
          <select
            [ngModel]="defaultValue"
            name="dropdown">
            <option
              *ngFor="let dropdownOption of dropdownOptions"
              value="{{ dropdownOption }}"
            >
              {{ dropdownOption }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input
            class="form-control"
            ngModel
            name="password"
            password
            #pass="ngModel"
            required
          >
        </div>
        <p *ngIf="!pass.valid && pass.touched">
          Password is required
        </p>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!f.valid"
        >
          submit
        </button>
        <p *ngIf="!f.valid && f.touched">
          Form is Invalid!!
        </p>
      </form>
    </div>
  </div>
</div>
